<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slick.css">
</head>
<body>
	
	<nav class="navbar mod-nav">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	      	<img src="img/logo.png" class="img-responsive">
	      </a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#">Home</a></li>
	      <li class="dropdown mod-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Our Services<span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="#">Start Auction</a></li>
	          <li><a href="#">Start Bidding</a></li>
	        </ul>
	      </li>
	      <li><a href="#">About Us</a></li>
	      <li><a href="#">Contact Us</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
	    </ul>
	  </div>
	</nav>
	<!-- User login Strip ends here-->

	<!-- Banner -->
		<img src="img/left-arrow.png" class="prev-banner">
		<div class="banner-slider">
			<div>
				<img src="img/banner_1.jpg">
			</div>
			<div>
				<img src="img/banner_2.jpg">
			</div>
		</div>	
		<img src="img/right-arrow.png" class="next-banner">
	<!-- Banner ends here-->

	<!-- Our Services-->

	<div class="title-strip">
		Welcome To Auxtions 
	</div>
	<div class="bid-service-cont">
		<div class="bidder-side">
			<h2>Wanna BUY something on the price which u decide ?</h2>
			<img src="img/bidders.png">
				<div class="overlay-on-bid">
			      <button type="button" class="btn bidder-btn"><a href="">Start Auxtion</a></button>
			  	</div>
		</div>
		<div class="auctioner-side">
			<h2>Wanna SELL Somthing precious at right price ?</h2>
			<img src="img/auxtioners.png">
				<div class="overlay-on-aux">
			      <button type="button" class="btn auxtion-btn"><a href="sellers-info.html">Start Bidders</a></button>
			  	</div>
		</div>
	</div>
	<div class="title-strip">
		About Us
	</div>
	<div class="about-us">
		 <div class="main-intro">
		 	<h2>
		 		BIID.com is a full service private online company. We are a team of people where
				we help “Bidders” and “Sellers” to easily bid and post items on our website.
		 	</h2>
		 </div>
		 <div class="row about-us-blocks">
		 	<div class="col-lg-4 col-md-4">
		 		<img src="img/devices.png">
		 		<h3>
		 			Various Categories
		 		</h3>
		 		<h4>
		 			We provides open platform offering various categories of products to be auctioned on
					our website.
		 		</h4>
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="img/handshake.png">
		 		<h3>
		 			Direct Communication
		 		</h3>
		 		<h4>
		 			Our website provides a platform of direct communication between bidder and seller where seller meets buyer for the respective items.
		 		</h4>
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="img/overflow.png">
		 		<h3>Large Quantity</h3>
		 		<h4>Our website provides a user friendly format to view the large quantity of items.</h4>
		 	</div>
		 </div>
		 <div class="row about-us-blocks">
		 	<div class="col-lg-4 col-md-4">
		 		<img src="img/employee.png">
		 		<h3>Free Registraton</h3>
		 		<h4>Registration is free. After being registered you can window shop choose from our huge variety of electronics and BUY and SELL.</h4>
		 	</div>
		 	<div class="col-lg-4 col-md-4">
		 		<img src="img/eye-scan.png">
		 		<h3>Visibility</h3>
		 		<h4>There is full visibility of current bids, shipping cost and buyer’s premium once registered.</h4>
		 	</div>
		 	<div class="col-lg-4 col-md-4 ">
		 		<img src="img/sharing.png">
		 		<h3>Convenience</h3>
		 		<h4>The ability to bid from the convenience from your home, office and/or mobile device makes it all that easy.</h4>
		 	</div>
		 </div>
	</div>
	<div class="title-strip">
		Have Any Doubts ? see FAQs for help.
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-pads">
				<img src="img/follow-us-small.jpg" class="img-responsive">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 follow-back"><div class="row">
				<label>Name</label>
				<input type="text" class="form-control" placeholder="Enter your Name">
				<label>Email ID</label>
				<input type="text" class="form-control" placeholder="Email ID">
				<label>Message Us</label>
				<textarea class="form-control"></textarea>
				<div class="text-center">
					<button type="button" class="btn submit-btn">Submit</button>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="reach-us-back">
		<div class="container">
			<div class="text-center">
				<div class="reach-us-txt">Reach Us</div>
				<ul class="social-bar">
					<li>
						<a>
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="fa fa-youtube-play" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="fa fa-google" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="text-center">
			<h4>COPYRIGHT <span>&#169;</span> BIID ONLINE PVT LTD 2019</h4>
		</div>
	</div>
	<!-- Our Services ends here-->

<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header login-head-back">
        	<div class="login-title">Login</div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body log-body-back">
          <div class="text-center">
          	<img src="img/user.png">
          </div>
          <div class="log-info">
          	<label>Username</label>
          	<input type="text" class="form-control">
          	<label>Password</label>
          	<input type="text" class="form-control">
          </div>
          <div class="text-center">
          	<button type="button" class="btn submit-btn">Login</button>
          </div>
          <div class="clearfix log-texts">
	          <div class="pull-left">
	          	Forgot Password ?
	          </div>
	          <div class="pull-right">
	          <a href="registration" style="color:#fff;">New User ?</a>
	          </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

<script src="js/juqery-3.3.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/source.js"></script>
</body>
</html>	